html {
  font-size: 16px;
  @media only screen and (max-width : 610px) {
    font-size: 15px;
  }
}
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

a {
  font-weight: 500;
  text-decoration: none;
}

.loading {
  position: fixed;
  left: 50%;
  top: 50%;
}